h1{
    color: #2D1810;
    font-family: 'playfair display', serif;
    font-size: 72px;
}
h4
{
    color: #2D1810;
    font-family: 'playfair display', serif;
    font-weight: 400;
    font-size: 20px;
}
.header {
    height: 100vh;
    background-image: url('images/hero.jpg');
    background-image: url('images/image17.jpg');
    background-color: #F5E9E2;
    padding: 20px;
    text-align: left;
}